<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2_Erronka_DI.My.MySettings.EMPRESAConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\EMPRESA.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="_2_Erronka_DI.My.MySettings.FilmeakConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\Filmeak.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="_2_Erronka_DI.My.MySettings.EMPRESAConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Esteban\Desktop\2 DI-SGE_ERRONKA\2_Erronka_DI\2_Erronka_DI\bin\Debug\EMPRESA.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="_2_Erronka_DI.My.MySettings.EMPRESAConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\EMPRESA.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>